@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,600;0,700;1,500&display=swap');

body {
    margin:0;
    margin-right: 10%;
    margin-left: 10%;
}


.head {
    display: flex;
   justify-content: space-between;
    font-family: inter;
    font-weight: 800;
    font-size: 40px;
    padding: 30px; 
}

a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    transition: transform 0.2s ease-in-out;
}
 a:hover {
    transform: scale(1.2); 
}


#title {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-family: inter;

}
#date {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-family: inter;

}
#more {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-family: inter;
}

#more_info:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;

}

#button {
    padding: 10px 40px;
    float: left;
    border-radius: 10px;
    font-family: 'Inter', cursive;
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
    background-color: #8cd1be;
    border-bottom: 5px solid #000000;
    text-shadow: 0px -2px  #8cafd1;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;   
}

#button:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}


#randomNasaImage {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin-top: 30px;

}


.img_button {
    align-items: center;
    justify-content: center;
    display: grid;
    align-items: start;
}
