@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,600;0,700;1,500&display=swap');
body {
    font-family: 'Inter Tight', sans-serif;
    margin:0;
    padding-right: 10%;
    padding-left: 10%;
}


.presentation {
    font-size:100px;
    font-weight:700;
    transform: translateY(-20px);
    animation: fadeInUp 1s ease-out forwards;
    opacity: 0;
    flex:0.8;
}
@keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
.presentation-container {
    display: flex;
    justify-content: flex-end;
}
.p_presentation {
    font-weight: 600;
    font-size: 50px;
    line-height: 1.2;
    flex:0.5
}
a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    transition: transform 0.2s ease-in-out;

}

.head {
    display: flex;
   justify-content: space-between;
    
    font-family: inter;
    font-weight: 800;
    font-size: 40px;
    border-radius: 15px;
    padding: 30px;
    
}

a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
 
}
 a:hover {
    font-size: 25px;

    
}


.pictures {
    padding-left: 40px;

}
 .accueil {
    justify-content: center;
 }

 .random {

    padding-right: 40px;
 }
#title {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-family: inter;

}
a:hover {
 
    transform: scale(1.2);
}

    .tk {
        border-radius: 45px;
        width: 100%;
        margin-top: 100px;
          


}

    
.middle_page {
    display:flex;
    justify-content:center;
}

.a_propos_de_moi {
    display:flex;
    justify-content:center;
    font-weight: 600;
    font-size: 80px;
}

.background_color_all {
    gap: 20px;
    display: grid;
    flex-wrap: wrap;

}

.ligne {
    display:flex;
    justify-content:center;
    gap: 20px;
    flex-wrap: wrap;
}


.de_moi_base {
    font-size:300%;
    font-weight: 600;
    border-radius: 45px;
    padding:40px 40px 40px 40px;
}


.de_moi {
    background-color: rgb(177, 300, 789);
    flex: 2;
}


.de_moi2 {
    background-color: rgb(119, 241, 103);
    flex: 3;
}

.de_moi3 {
    background-color: rgb(177, 241, 103);
    flex: 2;
}

.de_moi4 {
    background-color: rgb(103, 188, 241);
    flex: 1;
}


.de_moi5 {
    background-color: rgb(241, 229, 103);
    flex: 3;
}

.de_moi6 {
    background-color: rgb(241, 165, 103);
    flex: 4;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 40px;
    padding-left: 40px;
}

.right {
    display: flex;
    gap: 20px;
}